<div class="container">
  <div class="row">
    <header class="col-lg-12 col-md-12 col-sm-12">
      <h1>Lista para Funcionarios</h1>
    </header>
  </div>
  <section *ngIf="!display && !displayUp ">
    <div class="row">
      <div class="col-lg-12 col-md-2 my-1 right">
        <button type="button" class="btn btn-outline-success" (click)="onDisplay()"><i class="fas fa-plus"></i> Adicionar</button>
        <form class="form-inline search" #p="ngForm" (ngSubmit)="onSubmit(p)">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar Pessoa" [(ngModel)]="searchPessoaLista" aria-label="Buscar" ngModel>
          &nbsp;<b class="p">Periodo: </b>&nbsp;<input type="date" name="competencia" class="form-control mr-sm-2" [(ngModel)]="procurardata">
        </form>
      </div>
    </div> 
    <div class="row">
      <table class="table table-dark table-striped col-lg-12 col-md-12 col-sm-12 my-3">
        <thead>
          <tr>
            <th scope="col" class="">Nome</th>
            <th scope="col" class="">Data</th>
            <th scope="col" class="">Quantidade</th>
            <th scope="col" class="">Produto</th>
            <th scope="col" class="">Preço</th>
            <th scope="col" class="">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listas | searcherListaPessoa : searchPessoaLista | searcherDateLista : procurardata">
            <td class="">{{ p.name }}</td>
            <td class="">{{ p.data | date:'dd/MM/yyyy':'UTC' }}</td>
            <td class="text-center">{{ p.quantidade }}</td>
            <td class="">{{ p.nome }}</td>
            <td class="">{{ valorItem(p.preco,p.quantidade).toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })}}</td>
            <td class="">
              <div class="btn-group" role="group" aria-label="actions">
                <button type="button" class="btn btn-outline-secondary-outline" data-toggle="modal" data-target="#see" (click)="select(p)"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-outline-secondary-outline" (click)="select(p)" (click)="onDisplayUp()"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-outline-secondary-outline" data-toggle="modal" data-target="#delete" (click)="select(p)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!--Modal de Deletar Construções-->
      <div class="modal fade" role="dialog" id="delete">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir Produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Tem certeza que deseja excluir este produto?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="deleteEntry()">Excluir</button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" role="dialog" id="see" *ngIf="lista">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title textColor">Detalhes da lista de {{lista.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p><b>Nome:</b> {{lista.name}}</p>
                  <p><b>Função:</b> {{lista.function}}</p>
                  <p><b>Documento:</b> {{lista.document}}</p>
                  <p><b>Salario:</b> {{lista.receive.toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                  })}}</p>
                  <p><b>Produto:</b> {{lista.nome}}</p>
                  <p><b>Preço:</b> {{lista.preco.toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                  })}}</p>
                  <p><b>Medida:</b> {{lista.unmedida}}</p>
                  <p><b>Valor da Medida:</b> {{lista.valmedida}}</p>
                  <p><b>Periodo:</b> {{lista.data | date:'dd/MM/yyyy':'UTC'}}</p>
                  <p><b>Quantidade:</b> {{lista.quantidade}}</p>
                  <p><b>Descrição</b></p>
                  <textarea readonly [(ngModel)]="lista.descricao"  class="form-control" required name="descricao" [ngClass]="{'border-danger': descricaoV}"
                (change)="descricaoV = false" id="descricao" cols="120" rows="3" placeholder="descricao" ngModel
                #descricao="ngModel"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
           </div>
        </div>
      <!--Fim do Modal de Deletar Construções-->
    </div>
  </section>
  <section *ngIf="display">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-7 col-sm-12 my-6">
          <div class="card text-white bg-dark">
            <h4>Adicionar</h4>          
              <form method="POST" #p="ngForm" (ngSubmit)="onSubmit(p)">
                 
                <div class="form-group col-lg-12 my-3 col-md-12 col-sm-12 left">
                  *Funcionario
                  <select name="classificacao" class="btn btn-select" required [ngClass]="{'border-danger': id_workersV}" (change)="id_workersV = false" name="id_workers" ngModel #work_id="ngModel">
                    <option value="" disabled selected>Selecione um Funcionario</option>
                    <option *ngFor="let C of workers" value="{{C.id}}">
                      {{C.name}}
                    </option>
                  </select>
                  <p *ngIf="id_workersV" class="text-danger">*Selecione um Funcionario</p>
                </div>

                <div class="form-group col-lg-12 my-3 col-md-12 col-sm-12 left">
                  *Produto
                  <select name="classificacao" class="btn btn-select" required [ngClass]="{'border-danger': id_prodV}" (change)="id_prodV = false" name="prod_id" ngModel #prod_id="ngModel">
                    <option value="" disabled selected>Selecione um Produto</option>
                    <option *ngFor="let P of produtos" value="{{P.id}}">
                      {{P.nome}}
                    </option>
                  </select>
                  <p *ngIf="id_prodV" class="text-danger">*Selecione um Funcionario</p>
                </div>
                
                <div class="form-group col-lg-12 col-md-12 col-sm-12 left">
                  *Quantidade
                  <input type="number" class="form-control inline valueClass" required [ngClass]="{'border-danger': quantidadeV}" (change)="quantidadeV = false" id="valorme" ngModel #preco="ngModel" placeholder="Preço" name="preco">
                  <p *ngIf="quantidadeV"  class="text-danger">*Preencha a Quantidade</p>
                </div>  

                <div class="form-group col-lg-12 col-md-12 col-sm-12 left">
                  *Data da Saida
                  <input type="date" name="competencia" required [ngClass]="{'border-danger': functionValidation}"
                    (change)="functionValidation = false" class="form-control stock-input" ngModel #data="ngModel">
                  <p *ngIf="functionValidation" class="text-danger">*Preencha a Data</p>
                </div>

                <button type="submit" class="btn btn-outline-success">
                  <i class="fas fa-paper-plane"></i>
                  Salvar
                </button>
              </form>
            </div>
          <button class="btn btn-light col-lg-2" (click)="onDisplay()">
            <i class="fas fa-angle-left"></i>Voltar
          </button>
        </div>
      </div>
    </section>
    <section *ngIf="displayUp">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-7 col-sm-12 my-6">
      <div class="card text-white bg-dark "*ngIf="lista">
        <h4>Editar o item de {{ lista.name }}</h4>          
          <form method="POST" #p="ngForm" (ngSubmit)="updateBuild(p)">
            
              <div class="form-group col-lg-12 my-3 col-md-12 col-sm-12 left">
                  *Funcionario
                  <select [(ngModel)]="lista.worker_id" name="classificacao" class="btn btn-select" required [ngClass]="{'border-danger': id_workersV}" (change)="id_workersV = false" name="id_workers" ngModel #work_id="ngModel">
                    <option value="" disabled selected>Selecione um Funcionario</option>
                    <option *ngFor="let C of workers" value="{{C.id}}">
                      {{C.name}}
                    </option>
                  </select>
                  <p *ngIf="id_workersV" class="text-danger">*Selecione um Funcionario</p>
                </div>

                <div class="form-group col-lg-12 my-3 col-md-12 col-sm-12 left">
                  *Produto
                  <select [(ngModel)]="lista.Produtos_id" name="classificacao" class="btn btn-select" required [ngClass]="{'border-danger': id_prodV}" (change)="id_prodV = false" name="prod_id" ngModel #prod_id="ngModel">
                    <option value="" disabled selected>Selecione um Produto</option>
                    <option *ngFor="let P of produtos" value="{{P.id}}">
                      {{P.nome}}
                    </option>
                  </select>
                  <p *ngIf="id_prodV" class="text-danger">*Selecione um Funcionario</p>
                </div>
                
                <div class="form-group col-lg-12 col-md-12 col-sm-12 left">
                  *Quantidade
                  <input [(ngModel)]="lista.quantidade" type="number" class="form-control inline valueClass" required [ngClass]="{'border-danger': quantidadeV}" (change)="quantidadeV = false" id="valorme" ngModel #preco="ngModel" placeholder="Preço" name="preco">
                  <p *ngIf="quantidadeV"  class="text-danger">*Preencha a Quantidade</p>
                </div>  

                <div class="form-group col-lg-12 col-md-12 col-sm-12 left">
                  *Data da Saida
                  <input [(ngModel)]="lista.data" type="date" name="competencia" required [ngClass]="{'border-danger': functionValidation}"
                    (change)="functionValidation = false" class="form-control stock-input" ngModel #data="ngModel">
                  <p *ngIf="functionValidation" class="text-danger">*Preencha a Data</p>
                </div>

            <button type="submit" class="btn btn-outline-success">
              <i class="fas fa-paper-plane"></i>
              Salvar
            </button>
          </form>
        </div>
      <button class="btn btn-light col-lg-2" (click)="onDisplayUp()">
        <i class="fas fa-angle-left"></i>Voltar
      </button>
    </div>
  </div>
</section>
</div>
